/*#chat-container {
    border: 1px solid #A9ABAE !important;
    border-radius: 10px !important;
}

.chat-header {
    background: #366396 !important;
}

    .chat-header .chatbot-details .chatbot-icon {
        background: #fff !important;
    }

    .chat-header .chatbot-details .chatbot-name, .color-green, .color-blue {
        color: #fff !important;
    }

.chat-wrapper #chat-display .bot:before {
    background-color: #fff !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
}

.chat-wrapper #chat-display .bot1:before {
    background-size: 24px !important;
    background-repeat: no-repeat !important;
}

.chat-header .chatbot-minimize button i {
    color: #fff !important;
    font-size: 24px !important;
}

.chat-wrapper #chat-display .user span {
    background: #366396 !important;
    color: #fff !important;
}

.chat-wrapper #chat-display .user:after {
    background-color: #366396 !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.chat-wrapper #chat-display {
    padding: 15px 15px !important;
    margin-bottom: 50px !important;
}

.chat-header .chatbot-minimize button i, .chatbot-maximize button i, .chatbot-close button i {
    color: #fff !important;
}*/